/build/exe.win-amd64-3.9/PyQt5.uic.widget-plugins/
/build/exe.win-amd64-3.9/Annual_volume_planning.ui
/build/exe.win-amd64-3.9/icon.ico
/build/exe.win-amd64-3.9/main.exe
/build/exe.win-amd64-3.9/python3.dll
/build/exe.win-amd64-3.9/python39.dll
/build/exe.win-amd64-3.9/lib/
/build/exe.win-amd64-3.9/
/Database/assets.xlsx
